In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv('../data/monday.csv', sep=';', parse_dates=True, index_col=[0])
df.head(3)

                     customer_no location
timestamp
2019-09-02 07:03:00            1    dairy
2019-09-02 07:03:00            2    dairy
2019-09-02 07:04:00            3    dairy

In [ ]:
def one_customer(data, weekday_tag, customer_no):
    """
    input:
        data: dataframe - containing data of one weekday
        weekday_tag: str - e.g. 'mo','tu','we','th','fr'
        ustomer_no: int - as in the data dataframe
    output dataframe for one customer: 
        timestamp : 1min frequency
        customer_id : str weekday_tag + customer_no
        location : location at correspoinding time 
    """
    one_customer = data.loc[data['customer_no']==customer_no]
    one_timeind = pd.date_range(start=one_customer.index[0], end=one_customer.index[-1], freq='min')
    df_one = pd.DataFrame({'timestamp' : one_timeind})
    df_one['customer_id'] = weekday_tag + str(customer_no)
    df_one = df_one.merge(one_customer['location'].reset_index(), on=['timestamp'], how='left').fillna(method='ffill')
    after = df_one['location'].iloc[1:].reset_index()
    df_one_ba = df_one[:-1]
    df_one_ba['after'] = after['location']
    return df_one_ba 
    
one_customer = one_customer(df, 'mo', 42)
one_customer